html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

figure {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  left: 30%;
  top: 30%;
  transform: translateX(-50%);

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 100ms linear;
}

.polaroid:hover {

}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  text-align: center;
  position: absolute;
  left: 85px;
  bottom: 20px;
}

/* Hadrosaur */

figure:first-of-type {
  z-index: 3;
  transform: rotate(-25deg);
  position: absolute;
  left: 20%;
  top: 30%;
}

figure:first-of-type:hover {
  z-index: 1000;
  transform: rotate(0deg);
}

/* Pteranodon */

figure:nth-child(2) {
  z-index: 3;
  transform: rotate(5deg);
}

figure:nth-child(2):hover {
  z-index: 1000;
  transform: rotate(0deg);
}

/* Stegosaurus */

figure:nth-child(3) {
  z-index: 2;
  transform: rotate(25deg);
  position: absolute;
  left: 50%;
  top: 30%;
}

figure:nth-child(3):hover {
  z-index: 1000;
  transform: rotate(0deg);
}
